#prompt {
    width: 600px;
    height: 250px;
    background-color: #959595;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
}

#close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    font: 20px Arial;
    color: lightgray;
    border-radius: 20px;
    border: none;
    background-color: rgb(132, 89, 97);
}

#close-button:hover {
    background-color: crimson;
}

#prompt h1 {
    font: 40px "Georgia";
}

#code-input {
    font-size: 25px;
    padding: 10px;
    outline: none;
    width: 85px;
    margin-bottom: 15px;
}

#submit-code {
    font-size: 22px;
    padding: 10px;
}